body {
  height: 100vh;
  margin: 0;
}
html {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

main {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 400px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: 1px 9px 20px #00000036;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
h1 {
  font-size: 31px;
  margin-top: 45px;
  padding-bottom: 15px;
}
.iconsContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 23px;
}
.googleIcon {
  width: 38px;
  height: 32px;
  background-color: #ecf2f7;
  position: relative;
  border-radius: 4px;
}

.googleIcon span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #797c81;
}
.appleIcon {
  width: 38px;
  height: 32px;
  background-color: #ecf2f7;
  position: relative;
  border-radius: 4px;
}

.appleIcon span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #797c81;
}
.facebookIcon {
  width: 38px;
  height: 32px;
  background-color: #ecf2f7;
  position: relative;
  border-radius: 4px;
}

.facebookIcon span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #797c81;
}
.mail,
.pass {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.mail {
  margin-bottom: 33px;
}
.mail label,
.pass label {
  font-weight: 1000;
  font-size: 12px;
}
input#email,
input#password {
  height: 30px;
  background-color: #ecf2f7;
  border-radius: 7px;
  border-style: none;
  padding-left: 9px;
}
::placeholder {
  color: #80808082;
}
label#rememberLabel {
  font-size: 11px;
  font-weight: bolder;
}
input[type="checkbox"] {
  width: 14px !important;
  height: 14px !important;
  margin-left: 2px;
  appearance: none;
  border-radius: 4px;
  box-shadow: none;
  font-size: 0.8em;
  text-align: center;
  line-height: 1em;
  background: #ecf2f7;
}

input[type="checkbox"]:checked:after {
  content: "✔";
  color: rgba(0, 0, 0, 0.468);
}
.forRememberAndForgot a {
  position: absolute;
  right: 0;
  font-weight: bold;
  font-size: 12px;
  color: #d68cc1;
  text-decoration: none;
}

.btn {
  height: 100px;
  display: flex;
  align-items: center;
}
button {
  height: 37px;
  width: 283px;
  border-radius: 6px;
  border: none;
  background-color: #d68cc1;
  color: white;
}

.forRememberAndForgot {
  display: flex;
  align-items: center;
  margin-top: 60px;
  position: relative;
}
@media (width <= 400px) {
  .container {
    width: 100%;
  }
  main {
    position: relative;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  form {
    position: absolute;
    display: flex;
    flex-direction: column;
  }
}

@media (width <= 285px) {
  .container {
    width: 100%;
    height: auto;
  }
  main {
    position: relative;
    width: 100%;
    height: auto;
  }

  form {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .forRememberAndForgot {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  input#rememberCheck {
    margin-top: 20px;
  }
}

@media (width < 125px) {
  .iconsContainer {
    flex-direction: column;
    align-items: center;
  }
  .appleIcon,
  .facebookIcon,
  .googleIcon {
    margin-top: 7px;
  }
  input#rememberCheck {
    margin-top: 30px;
  }
}
